<h1>Hr Staffs</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hr_staffs.each do |hr_staff| %>
      <tr>
        <td><%= hr_staff.email %></td>
        <td><%= link_to 'Show', hr_staff_path(hr_staff) %></td>
        <td><%= link_to 'Edit', edit_hr_staff_path(hr_staff) %></td>
        <td><%= link_to 'Destroy', hr_staff_path(hr_staff), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hr Staff', new_hr_staff_path %> | 
<%= link_to 'Back', root_path %>
