<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <% if @users.count > 0 %>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th colspan="3"></th>
      </tr>
    <% else %>
      <% if params[:role] == "hr_staff" %>
        No HR Staff Registered
      <% else %>
        No Employee Registered
      <% end %>
    <% end %>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <% if user.hr_staff == true%>
            HR Staff
          <% else %>
            Employee
          <% end %>
        </td>
        <td><%= link_to 'Show', users_staff_path(user) %></td>
        <td><%= link_to 'Edit', edit_users_staff_path(user) %></td>
        <td><%= link_to 'Destroy', users_staff_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_users_staff_path(:role => params[:role]) %>
<%= link_to 'Back', root_path %>
